@import "tailwindcss";

.purple-bg{
@apply bg-[#2E0864]
}

@theme {
  --color-primary: #F45116;
  --color-secondary: #2E0864;
}

/* hide the scroll bar */

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}